@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    width:100%;
    position:sticky !important;
    left:0;
    top:0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index:10;
}
.sp{
    color:#f9004d;
}
section{
    width:100%;
    min-height:100vh;
}
.ome{
    background-image:url(black.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.bgabout{
    background-color:#1c1a1a;
    height:100vh;
}
.pic{
    height: 350Px;
    border: 0px solid rgb(146, 171, 89);
    padding-top: 50px;
    margin-right:80%;
    box-shadow:0px 5px 12px rgba(77, 58, 58, 0.5);
}
.abttxt{
    padding-top: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.textabout{
    padding-top:30px ;
    margin-left:50%;
}
#qualification{
    padding-top: 5%;
    background:linear-gradient(to right,rgb(74, 74, 41),rgb(22, 47, 22));
}
.card{
    margin-top: 15%;
    background: linear-gradient(to right,rgb(98, 233, 237),rgb(216, 237, 93));
}
.card:hover{
    box-shadow: 8px 8px 15px rgba(0,0,0,.4);
}
.quatext{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#skills{
    padding-top:5%;
    background:linear-gradient(to left,#e5e5e5,rgb(22, 22, 22));
}
#skills .container{
    margin-top:6%;
    margin-bottom:6%;
}
label{
    font-size:20px;
}
.card img:hover{
    transform:scale(1.04)
}
.card:hover{
    box-shadow: 8px 8px 15px rgba(0,0,0,.4);
}
#certification{
    padding-top:5%;
    background:linear-gradient(to left,rgb(113, 113, 102),rgb(98, 58, 136));
}
.bg2{
    background:linear-gradient(to top,rgb(38, 131, 38),rgb(255, 255, 98));
}
.txt{
    color:#080909
}
@media screen and (max-width:500px){
    .ome{
        background-image:none;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
}
@media screen and (min-width:600px){
    .bgabout{
        background-color:#1c1a1a;
    }
}
@media only screen and (min-width:600px)and(max-width:900px){
    .card:hover{
        box-shadow: 8px 8px 15px rgba(242, 244, 241, 0.4);
    }
}
